<html lang="en">
<head>
     <link rel="stylesheet" href="/static/css/choicelinktopic_ten.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

</head>
<body>
<div class="area" >
     <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
    <div class="three">
  <h1>For Teenagers:
      Choose one topic to show links</h1>
</div>
  <div class="button-container">
    <div class="button-wrapper">

      <h3>Emotional Support</h3>
      <p> Here you can find resources and guidance on emotional support, providing insights and strategies to help you navigate and manage your emotions effectively<br><br></p><a href="{% url 'emotional_support_ten' %}"><button style="--clr:rgba(211,187,158,0.85)"><span>Show Links</span><i></i></button></a>
    </div>
    <div class="button-wrapper">
      <h3>Behavioral Challenges</h3><p>Here you can see resources and strategies for addressing behavioral challenges and developing effective coping mechanisms<br><br><br></p><a href="{% url 'behavioral_challenges_ten' %}"><button style="--clr:#e8d294"><span>Show Links</span><i></i></button></a>
    </div>
    <div class="button-wrapper">
      <h3>Communication Challenges</h3><p>Here you can find insights and strategies for navigating various behavioral challenges and fostering positive changes<br><br><br></p><a href="{% url 'communication_challenges_ten' %}"><button style="--clr:rgba(211,187,158,0.85)"><span>Show Links</span><i></i></button></a>
    </div>
  </div>
             </ul>
</div>
</body>
</html>