<!DOCTYPE html>
<html lang="en">

<head>
     <link rel="stylesheet" href="/static/css/choicelinktopic_psy.css">

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

</head>
<body>

 <div class="area" >
     <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
<div class="nine">
  <h1>Choose one topic to post links<span>For Teenagers</span></h1>
    <p>Choose a topic from among the various challenges that are integrated into youth life and publish links that will help in dealing with emotional support, behavioral challenges, and communication challenges</p>>
</div>  <div class="button-container">
      <div class="button-wrapper"><h3>Emotional Support</h3><a href="{% url 'post_e_s_ten' %}"><button style="--clr:rgb(232,210,148)"><span>Post Links</span><i></i></button></a></div>
      <div class="button-wrapper"><h3>Behavioral Challenges</h3><p><a href="{% url 'post_b_ch_ten' %}"><button style="--clr:rgba(211,187,158,0.85)"><span>Post Links</span><i></i></button></a></div>
      <div class="button-wrapper"><h3>Communication Challenges</h3><a href="{% url 'post_c_ch_ten' %}"><button style="--clr:#e8d294"><span>Post Links</span><i></i></button></a></div>
  </div>
     </ul>
 </div >
</body>
</html>