{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/navlast.css' %}">
<ul class="menu">
  <li><a href="{% url 'homepage_parent' %}">MyHomePage</a>
    <li>
        <div class="dropdown">
            <span>Profile</span>
            <div class="dropdown-content">
                <a href="{% url 'profileforteenager' %}">profile</a>
                <a href="{% url 'logout_parent' %}">logout</a>
            </div>
        </div>
    </li>
    <li><a href="{% url 'choicelinktopic_parent' %}">Courses</a></li>
    <li>
      <div class="dropdown">
      <span> Feedbacks</span>
          <div class="dropdown-content">
           <a href="#">Resevie Feedback</a>
           <a href="#">Send Feedback</a>
              </div>
        </div>
  </li>
</ul>