{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/navlast.css' %}">
<ul class="menu">
  <li><a href="{% url 'homepageforpsy' %}">MyHomePage</a></li>
<li>
    <div class="dropdown">
  <span>Profile</span>
       <div class="dropdown-content">
           <a href="{% url 'profile' %}">profile</a>
       </div>
        </div>
           </li>

   <li>
    <div class="dropdown">
  <span>Courses</span>
       <div class="dropdown-content">
           <a href="{% url 'choicelinktopic_psy_par' %}">Post links For Parents</a>
           <a href="{% url 'choicelinktopic_psy_ten' %}">Post links For Teenagers</a>
           <a href="{% url 'view_links_psy_par' %}">Links Management For Parents</a>
          <a href="{% url 'view_links_psy_ten' %}">Links Management For Teenagers</a>
       </div>
        </div>
           </li>
    <li>
    <div class="dropdown">
  <span>Feedbacks</span>
       <div class="dropdown-content">
           <a href="{% url 'feedback_psy_teenger' %}">view Teenager's Summary</a>
           <a href="{% url 'feedback_psy_parent' %}">view Parent's Summary</a>
           <a href="{% url 'list_of_parent' %}">parents's list feedback</a>
           <a href="{% url 'list_of_teenger' %}">teenagers's list feedback</a>

       </div>
        </div>
           </li>
</ul>