{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/test.css' %}">
<ul class="menu">



  <li><a href="{% url 'homepage_parent' %}">MyHomePage</a></li>
  <li><a href="{% url 'profileforparent' %}">Profile</a></li>
  <li><a href="{% url 'choicelinktopic_parent' %}">Courses</a></li>
    <li>
      <div class="dropdown">
      <span> Feedbacks</span>
          <div class="dropdown-content">
           <a href="{% url 'sammaryforparent' %}">Resevie Feedback</a>
           <a href="{% url 'feedback_parent' %}">Send Feedback</a>
              </div>
        </div>
  </li>
</ul>