
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posting Links</title>
    <link rel="stylesheet" href="/static/css/post_links.css">

</head>
<body>
    <div class="box">
          <div class="nine">
  <h1>Post links about Communication Challenges<span>For Teenagers</span></h1>
</div>
        <form method="POST">
            {% csrf_token %}

            <span class="text-center"></span>
            <div class="input-container">
                <input type="text" name="link">
                <label>Post a link</label>
            </div>
            <div class="input-container">
                <input type="text" name="description">
                <label>Description</label>
            </div>
            <button type="submit" class="btn">submit</button>
        </form>
    </div>
</body>
</html>