<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>djangoProject10</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>djangoProject10</title>
{% block content %}
{% load static %}
    {%  include 'ourapp/navbar_parent.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/testt.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/feedback_parent.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/testerforfeedbackpsyha.css' %}">

</head>
<body>
    <style>
  /* Style for the title container */
  .title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  /* Style for the title */
  h1 {
    font-size: 32px; /* Smaller font size */
    color: #333; /* Dark color for text */
    padding: 20px; /* Add some padding */
    border-bottom: 2px solid rgba(255, 207, 102, 0.75); /* Orange border bottom */
    margin: 0; /* Remove default margin */
  }

  /* Style for the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table horizontally */
    background-color: #f8f9fa; /* Light background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  }

  /* Style for table headers */
  th {
    background-color: rgba(245, 222, 179, 0.75); /* Light orange background color with opacity */
    color: #000000;
    font-weight: bold;
    text-align: left;
    padding: 15px;
  }

  /* Style for table data */
  td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd; /* Add border between rows */
  }

  /* Alternate row color */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>
    <div class="title-container">
  <h1>parents' Feedback Table</h1>
</div>
<table>
  <thead>
    <tr>
      <th>date of the  massge</th>
      <th>parent's text</th>

      <th>psychotherapist's Summary</th>
    </tr>
  </thead>
  <tbody>
    {% for feedback in parent_feedback %}
    <tr>
      <td><strong></strong> {{ feedback.date }}</td>
      <td><strong></strong> {{ feedback.text }}</td>
      <td><strong></strong> {{ feedback.sammary }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">No feedback available for this teenager.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

