{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/testt.css' %}">

{#<h1>Responsive Menu Effect#}
{#hover on menu items!#}
{#</h1>#}

<ul class="menu">
  <li><a href="#" class="active">Home</a></li>
  <li><a href="{% url 'loginTeenager' %}">About</a></li>


    <li>
<div class="dropdown">
  <span>sign up</span>
  <div class="dropdown-content">
<a href="{% url 'singupteenger' %}">sing up teenger</a>
      <a href="{% url 'sign_up_parent' %}">sign up parent</a>

  </div>
</div>
    </li>

    <li>
<div class="dropdown">
  <span>log in</span>
  <div class="dropdown-content">
<a href="{% url 'loginParent' %}">log in parent</a>
      <a href="{% url 'loginTeenager' %}">log in teenager</a>
      <a href="{% url 'loginpsychologist' %}">log in pyschalogist</a>
  </div>
</div>
    </li>
  <li class="slider"></li>
</ul>