{% include 'ourapp/navbarforpsy.html' %}

{% block head %}
    {% load static %}
        <title>Psychologist Links Management For Teenagers</title>
  <link rel="stylesheet" href="/static/css/view_links_psy.css">

    <link rel="stylesheet" href="{% static 'css/view_links_psy.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1>Psychologist Links Management For Teenagers</h1>
    <ul style="font-size:20px">
        {% for link in links reversed %}
            {% if link.forWhom == "Emotional Support" or link.forWhom == "Communication Challenges For Teenagers" or link.forWhom == "Behavioral Challenges For Teenagers"  %}
          <li>
    <p><span>Domain:</span> {{ link.forWhom }}</p>

    <p><span>Description:</span> {{ link.Description }}</p>

    <p><span>Link:</span> <a href="{{ link.link }}" target="_blank">{{ link.link }}</a></p>

    <form action="{% url 'delete_link_psy_ten' link.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
           </li>
            {% endif %}
        {% empty %}
            <li>No links uploaded yet.</li>
        {% endfor %}
    </ul>
{% endblock %}