
{% block head %}
        {% include 'ourapp/navbarforpsy.html' %}

    {% load static %}
        <title>Psychologist Links Management For Parents</title>
  <link rel="stylesheet" href="/static/css/view_links_psy.css">

    <link rel="stylesheet" href="{% static 'css/view_links_psy.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Psychologist Links Management For Parents</h1>
    <ul>
        {% for link in links reversed %}
            {% if link.forWhom == "Time Management" or link.forWhom == "Communication Challenges For Parents" or link.forWhom == "Behavioral Challenges For Parents"  %}
          <li>
    <p><span>Domain:</span> {{ link.forWhom }}</p>
              <br>
    <p><span>Description:</span> {{ link.Description }}</p>
                <br>
    <p><span>Link:</span> <a href="{{ link.link }}" target="_blank">{{ link.link }}</a></p>
                <br>
    <form action="{% url 'delete_link_psy_par' link.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
           </li>
            {% endif %}
        {% empty %}
            <li>No links uploaded yet.</li>
        {% endfor %}
    </ul>
{% endblock %}