{% static load %}
body {
    font-family:'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(211, 211, 211, 0.83);
    color: #333;
    line-height: 1.6;
}
header {
    color: #dabb77;
    padding: 20px 0;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}
.backgroung{
    background-color: #D3BB9EE2; /* Added background color */
    background-image: url('static/images/rtyuio.jpg');
    background-size: cover; /* This ensures the image covers the entire background */
    background-position: center;
}
